<div class="rounded-lg overflow-hidden border border-neutral-950 bg-slate-200 text-neutral-700 shadow-sm w-full">
    <div class="p-7 flex-shrink-0">
        <a href="{{sendTo}}" class="mb-2 text-lg hover:text-blue-300 hover:transition-all font-bold leading-none tracking-tight">{{title}}</a>
        <p class="mb-5 text-neutral-500">{{description}}</p>
        {{-- <a href="{editTask}">Edit Task</a> --}}
    </div>
</div>