<div class="rounded-lg overflow-hidden border border-neutral-950 bg-slate-200 text-neutral-700 shadow-sm w-[380px]">
    <div class="p-7">
        <a href="{{sendTo}}" class="mb-2 text-lg font-bold leading-none tracking-tight">{{title}}</a>
        <p class="mb-5 text-neutral-500">{{description}}</p>
    </div>
</div>